# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops.
Complete all the for loop challenges on the paper. please read each challenge
carefully and make sure that your for loops display exactly what is asked. If
you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [2]:
# Display all numbers from 0 to 100 

for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Display all numbers from 100 to 0

In [14]:
# Display all numbers from 100 to 0 

for i in range(100,-1,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

Display all even numbers from 2 to 100

In [15]:
# Display all even numbers from 2 to 100  
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Display all odd numbers from 1 to 99

In [16]:
# Display all odd numbers from 1 to 99  
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [18]:
# Display all numbers from 1 to 500.
for i in range(1,41):
    if i % 2 == 0:
        print(str(i) + ' even')
    else:
        print(str(i) + ' odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even

Display all multiples of 7 from 0 to 70

In [20]:
# Display all multiples of 7 from 0 to 777

for i in range(7,778,7):
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [25]:
# Your Code Here
for i in range(2012,2026):
    age = i - 2012
    if age == 6 or age == 7:
        age = '6 or 7'
    print('in ' + str(i) + ', i was ' + str(age) + ' years old.')

in 2012, i was 0 years old.
in 2013, i was 1 years old.
in 2014, i was 2 years old.
in 2015, i was 3 years old.
in 2016, i was 4 years old.
in 2017, i was 5 years old.
in 2018, i was 6 or 7 years old.
in 2019, i was 6 or 7 years old.
in 2020, i was 8 years old.
in 2021, i was 9 years old.
in 2022, i was 10 years old.
in 2023, i was 11 years old.
in 2024, i was 12 years old.
in 2025, i was 13 years old.

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [26]:
# Examples of Nested Loops

for i in range(8):
    for j in range(8):
        print(f"({i},{j})", end= ' ')
    print()

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7)
(4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (4,7)
(5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (5,7)
(6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6) (6,7)
(7,0) (7,1) (7,2) (7,3) (7,4) (7,5) (7,6) (7,7)

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [30]:
# Display the output shown above

for i in range(3):
    for j in range(3):
        print(str(i) + '  ' + str(j))

0  0
0  1
0  2
1  0
1  1
1  2
2  0
2  1
2  2

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [39]:
# Display the numbers 1 through 9 in a 3x3 square grid

for i in range(1,8,3):
    list = []
    for j in range(3):
        variable = i+j
        list.append(str(variable))
    print(list[0] + '  ' + list[1] + '  ' + list[2])

1  2  3
4  5  6
7  8  9

Display the numbers 1 through 100 in a 10x10 square grid.

In [45]:
# Display the numbers 1 through 100 in a 10x10 square grid. 

meow = '\t'
for i in range(1,99,10):
    list = []
    for j in range(10):
        variable = i+j
        list.append(str(variable))
    print(list[0] + meow + list[1] + meow + list[2] + meow + list[3] + meow + list[4] + meow + list[5] + meow + list[6] + meow + list[7] + meow + list[8] + meow + list[9])

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [52]:
# Display the asterisk pattern shown above
for i in range(1,7):
    astrsk = []
    for j in range(i):
        astrsk.append('*')
    print(astrsk)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']
['*', '*', '*', '*', '*', '*']